replicaCount: 2

image:
  repository: nginx
  tag: alpine

service:
  port: 80

ingress:
  enabled: true
  host: sample.local

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  cpuUtilization: 70
